<main>
    <div class="card text-center" style="width: 80vw; margin: auto;">
        <div class="card-body">
            <h5 class="card-title">Welcome to Employee Review System</h5>
            <p class="card-text">Welcome to our system for reviewing employees, please. This approach is intended to give you insightful feedback on your performance and support your role-growth. You will be able to add, remove, edit, and designate any other corporate employee to review your performance using this system. Employee reviews, in our opinion, are a crucial component of professional growth and a way to make sure that we are accomplishing our organisational objectives. We urge you to make the most of this system and to benefit from the criticism offered by your peers and management.</p>
            <a href="/create-company" class="btn btn-primary">Get Started</a>
        </div>
    </div>
</main>